useremail="abakasam@outlook.com"
username="Sam Weddington"
userlogin="abakasam"
userURL="https://github.com/abakasam/abakasam.git"
projectname="coachshake"
projectURL="https://github.com/abakasam/coachshake.git"
#directoryworking="/home/coder/"
directoryworking="/home/gitpod/"
directoryproject=$directoryworking$projectname
directoryuser=$directoryworking$userlogin